  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif
  }

  #content-word {
    font-family: 'Shadows Into Light', cursive;
    font-size: 8em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
  }

  #ampersand {
    height: 200%;
    width: 200%;
  }

  #code-word {
    font-family: 'Source Code Pro', monospace;
    font-size: 8em;
    padding-top: 0;
    margin-top: 0;
  }

  .w3-row-padding img {
    margin-bottom: 5px
  }

  /* Set the width of the sidebar to 120px */
  .w3-sidebar {
    width: 120px;
    background: #222;
  }

  /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
  #main {
    margin-left: 120px
  }

  span {
    font-style: italic;
  }

  ul.a {
    list-style-type: circle;
  }

  /* Remove margins from "page content" on small screens */
  @media only screen and (max-width: 600px) {
    #main {
      margin-left: 0;
    }

    #content-word {
      font-size: 6em;
      padding-top: 50px;
    }

    #code-word {
      font-size: 6em;
    }
  }

  #myNavbar {
    margin-left: 0;
    padding-bottom: 30px;
  }
